@using System.Web.Mvc.Html
@model dynamic

<h1>Working page, no problems.</h1>

<h2>
    Try <a href="@Url.Action("Bogus")">/Home/Bogus</a> (or any nonexistent URL) to throw a 404 Not Found error
</h2>
<h3>This will hit Application_Error (and be ignored), then handled by the HttpErrors entry for 404.</h3>

<h2>Try @Html.ActionLink("/Home/ServerError", "ServerError") to throw a 500 internal server error</h2>

<h2>Try @Html.ActionLink("/Home/Unauthorized", "Unauthorized") to simulate a 401 Unauthorized server error</h2>

<h2>Try @Html.ActionLink("/Home/NonHttpError", "NonHttpError") to simulate a non-HTTP exception</h2>

<h2>
    Try <a href="~/ThrowException.axd">/ThrowException.axd</a> to simulate an exception in a HTTP Handler
</h2>